#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

#title {
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    text-align: center;
    color: navy
}
#gallery{
  margin: auto;
  width:max-content;
}
#gif{
  width: 300px;
  height: 221px;
}
#me{
  width: 50%;
  height: auto;
}
.text1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.img {
    width: 200px;
    height: 250px;
}

